@font-face {
    font-family: matter-light;
    src: url(fonts/MatterTRIAL-Light.otf);
}

h1 {
    font-family: matter-light;
}

.navbar {
    display: flex;
    font-family: matter-light;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: top 0.3s ease-in-out;
}

.navbar-left{
    display: flex;
    flex: 0.1;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    margin: 0;
    font-size: 16px;
    margin-left: 10%;
}


.navbar-right{
    display: flex;
    flex: 0.4;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    margin: 0;
    margin-right: 10%;
    font-size: 13px;
}

.navbar-item-start{
    padding: 30px;
    padding-left: 50px;
}

.navbar-item{
    padding: 30px;
    margin: 0;
}


.navbar a{
    font-family: matter-light;
    color: white;
    text-decoration: none;
}

/* .content {
} */

/* hero section */
.hero {
    margin-top: 16%; 
    display: grid;
    grid-template-columns: 45% 10% 15% 25%;
}

.hero article{
    padding-top: 40px;
    padding-bottom: 40px;
}

.hero-quote {
    margin-left: 7%;
    font-size: 50px;
    line-height: 1.1;
    font-family: matter-light;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 15%;
}

.hero-intro {    
    grid-column: span 2;
    padding-left: 20px;
    margin-right: 75px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}


/* SECTION1 */
/* SECTION2 */
/* SECTION3 */
/* SECTION4 */
/* SECTION5 */
/* SECTION6 */